anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1666191106763/work/dist
APScheduler==3.6.3
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
brotlicffi @ file:///home/conda/feedstock_root/build_artifacts/brotlicffi_1649596574615/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854167867/work
cachetools==5.3.0
certifi==2023.5.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046050867/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1637687018854/work
filetype==1.2.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1671551055614/work
httpx==0.24.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
mutagen @ file:///home/conda/feedstock_root/build_artifacts/mutagen_1665355730162/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodomex @ file:///opt/conda/conda-bld/pycryptodomex_1661450193025/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-telegram-bot==20.3
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1682535435083/work
rfc3986 @ file:///home/conda/feedstock_root/build_artifacts/rfc3986_1620442452971/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
tornado==6.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata==2023.3
tzlocal==4.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
websockets @ file:///croot/websockets_1678966790840/work
yt-dlp @ file:///home/conda/feedstock_root/build_artifacts/yt-dlp_1678075453223/work
